body{
    background-image:url(img.jpg);
}
form{
  
    position: absolute;
    top:30%;
    left: 33%;
    background-color: rgba(245, 245, 220, 0.73);
    padding: 100px;
    border-radius: 10px;
    
}

label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-right: 25px;
    font-weight: bold;
}
input{
    margin: 10px;
    margin-bottom: 0px;
    height: 20px;
    text-align: center;
}
#celsius{
    margin-left: 36px;
}
#kelvin{
    margin-left: 42px;
}
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}